body {
    font-family: "Myriad Pro", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 30px 0 30px;
}

#logo h1 a {
    background: transparent url("../../img/stereoplex-vertical.png") no-repeat; 
    display: block;
    height: 448px;
    width: 100px;
    text-indent: -9999px;
    float: left;   
}

/*#header {
    background: transparent url("../../img/rocks.jpg") no-repeat;
    width: 800px;
    height: 230px;
}
*/
blockquote {
	background: #f5f5f5;
	border-left: 15px solid #ccc;
	font-size: 110%;
	font-style: italic;
	padding: 30px 0 30px 30px;
	margin: 30px 0 30px 30px;
}

div.content {
    width: 600px;
    float: left;
    padding-left: 30px;
}

div.date {
    background: #f5f5f5;
    color: #777;
    padding: 10px;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-align: right;
}

#nav li {
    display: inline;
}

#right-rail {
    text-align: right;
}

#right-rail ul li {
    list-style-type: none;
}

#right-rail p {
    font-size: 11px;
    line-height: 14px;
}