body {
    font-family: "Myriad Pro", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    background-image: url('../../img/arches.jpg');
    background-repeat: no-repeat;
    background-color: white;
}

blockquote {
	background: #f5f5f5;
	border-left: 15px solid #ccc;
	font-size: 110%;
	font-style: italic;
	padding: 30px 0 30px 30px;
	margin: 30px 0 30px 30px;
}

div.content {
    width: 600px;
    float: left;
    padding-left: 50px;
}

form p {
    padding-bottom: 10px;
}

.date, .help-text {
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    font-size: 80%;
}

.date {
    text-align: right;
}

.post_list .date {
    float: none;
    margin: 0 0 0 -40px;
    padding: 3px 5px 3px 20px;
}

.help-text {
    display: block;
}

ul.navbar-one {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 15px 0 0 0;
}

h4.search {
    margin: 0;
}

img {
    display: block;
}

pre {
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 10px 0 10px 0;
}

.post-img {
    margin: 0;
    padding: 0;
    border-left: 0;
    background-color: white;
    float: none;
    text-align: center;

}

.subscribe {
    clear: both;
}

.subscribe li {
    float: none;
    display: inline;
}

#bleeder {
    z-index: -1;
}

#header {
    border: none;
}

#nav {
    float: none;
}

ul.navbar-one {
    float: none;
}

ul.navbar-one li {
    display: block;
    float: none;
}

#right-rail {
    background: transparent url("../../img/stereoplex-vertical.png") no-repeat; 
    float: left;
    padding-left: 110px;
    margin-left: 20px;
}

#right-rail ul li {
    list-style-type: none;
}

#right-rail p {
    font-size: 11px;
    line-height: 14px;
}

#footer {
    clear: left;
}